body {
    font-family: 'Barlow', sans-serif!important;
}
/* .navbar {
    z-index: 1;
} */
.nav-link.active, a.nav-link:hover {
     color: #000000;
}
.navbar-expand-md .navbar-nav .nav-link {
     padding-right: 2.5rem!important;
}
.bg-custom {
     background-color: #ffffff;
}
.btn-search {
    color: rgba(0,0,0,.5);
    background-color: #ffffff;
}

.carousel-inner {
    height: 600px;
}
.carousel-caption {
    top: 15%;
    bottom: 0;
}
.carousel-caption h1{
    font-size: 60px;
    font-weight: bold;
}
.carousel-caption p{
    font-size: 20px;
    font-weight: 400;
}
.checked {
    color: #f89224;
}
.unchecked {
    color: #a5a5a5;
}

.categories {
    width: 100%;
    height: auto;
    padding: 80px 0 80px 0;
    background-color: #ffffff;
}
p.title-yellow {
    color: #f89224;
    text-align: center;
    font-family: 'Handlee', cursive;
}
h2.title {
    color: #2c3033;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 65px;
}
.category-show {
    width: 100%!important;
}
.category-img {
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.category-img img {
    width: auto;
    height: 100%;
}
h5.category-t {
    text-align: center;
    padding-top: 25px;
    font-weight: bold;
}

.recipes {
    width: 100%;
    height: auto;
    padding: 80px 0 80px 0;
    margin-top: -455px;
}
.recipes-bg {
    width: 100%;
    height: 455px;
    background-color: #f6f5f3;
}
.card {
	box-shadow: 0px 0px 15px rgba(41, 48, 55, 0.03);
}
.card:hover{
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.2);
}
.card-body {
    padding: 25px 35px !important;
}
.card-footer {
    font-size: 13px;
	padding: 0!important;
	background-color: #ffffff!important;
}
.card-text {
    font-size: 15px;
    color: #9f9f9f;
    margin-top: 15px;
}
.card-title {
    font-size: 20px;
    font-weight: bold;
}
.card-title:hover {
    color: #f89224;
}
.show-category {
	width: calc(60% - 31px);
	float: left;
	border-right: 1px solid #e5e5e5;
	padding: 15px;
	text-align: center;
}
.show-duration {
	width: calc(50% - 30px);
	float: left;
	padding: 15px;
	text-align: center;
}
.show-category i,.show-duration  i {
    color: #7dba43;
}
.show-category span,.show-duration  span{
    color: #9f9f9f;
}
.btn-viewAll {
    color: #ffff;
    background-color: #f89224;
    font-size: 15px !important;
    padding: 20px 25px !important;
}
.btn-viewAll:hover {
    background-color: #db8120;
}
.video-bg {
    width: 100%;
    height: 480px;
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.6), rgba(50, 50, 50, 0.6)), url(images/steak_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.centered {
    width: 100%;
    height: 100%;
    padding: 115px 0 115px 0;
}
.center-gap {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    justify-content: center; */
}
.w {
    width: 100%;
}
.border-o {
    width: 115px;
    height: 115px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 20px;
    margin: auto;
}
.btn-play {
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: #f89224;
    font-size: 15px !important;
    padding: 20px 25px !important;
}
h2.v-title {
    color: #ffffff;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}
.instagram {
    width: 100%;
    padding: 2px 0 2px 0;
}
.ig-img {
    width: 100%;
    height: 250px;
    position: absolute;
}
.ig-gap {
    height: 100%;
    overflow: hidden;
    float: left;
}
.ig-gap.col-md-2,.ig-gap.col-4 {
    padding: 0 1px 0 1px;
}
.ig-gap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.follow {
    margin: 100px 0 60px 0;
    position: relative;
}
.follow-gap {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.btn-follow {
    color: #000000;
    background-color: #ffffff;
    padding: 20px 25px !important ;
}
.border-i {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 10px;
}
.footer {
    color: #9f9f9f;
    background-color: #2e2f31;
    margin-top: 1px;
}
.border-l {
    padding: 100px 0 100px 0;
    padding-right: 55px!important;
    border-right: 1px solid rgba(255,255,255,.1);
}
.border-c {
    padding: 100px 0 100px 0;
    padding-right: 55px!important;
    padding-left: 55px!important;
    border-right: 1px solid rgba(255,255,255,.1);
}
.border-r {
    padding: 100px 85px 100px 85px;
    padding-right: 85px!important;
    padding-left: 55px!important;
}
.border-l h2,.border-c h2,.border-r h2 {
    color: #ffffff;
    margin-bottom: 30px;
}
.border-l p {
    margin-bottom: 30px;
}
.form-email {
    width: 225px!important;
    height: 50px;
    background-color: #28292b!important;
    border: 1px solid #28292b!important;
    margin-right: 5px;
}
.btn-sign {
    width: 75px;
    height: 50px;
    color: #ffffff;
    background-color: #f89224;
}
ul.ul-f {
    padding-inline-start: 0;
}
ul.ul-f li {
    margin-bottom: 10px;
}
li {
    list-style-type: none;
}
.icon-f {
    width: 10%;
    color: #f89224!important;
    float: left;
}
.icon-t {
    width: 90%;
    float: left;
    margin-bottom: 10px;
}


@media (max-width: 576px) { 
    .carousel-caption h1 {
        font-size: 28px;
        font-weight: bold;
    }
    .carousel-caption p {
        font-size: 16px;
        font-weight: 400;
    }
    .carousel-caption {
        padding-top: 40px!important;
        padding-bottom: 40px!important;
    }
    .carousel-inner {
        height: auto;
    }
    .border-l {
        padding-right: 55px!important;
        padding-left: 55px!important;
    }
    .category-show {
        padding: 10px;
    }
    h2.title {
        font-size: 30px;
        margin-bottom: 55px;
    }
    p.title-yellow {
        margin-bottom: 5px;
    }
    .center-gap {
        width: 100%;
    }
    .video-bg {
        height: auto;
    }
    .border-o {
        width: 100px;
        height: 100px;
        padding: 15px;
    }
    h2.v-title {
        font-size: 30px;
    }
    .ig-img {
        width: 100%;
        height: 125px;
    }
    .border-l {
        padding: 100px 0 50px 0;
    }
    .border-c {
        padding: 50px 0 50px 0;
    }
    .border-r {
        padding: 50px 0 100px 0;
    }
    .border-l h2, .border-c h2, .border-r h2 {
        font-size: 28px;
    }
    .form-group {
        width: 100%!important;
    }
    .form-email {
        width: 100%!important;
    }
    .btn-sign {
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }
 }